name: 'CI'

on:
  push:
    branches:
      - 'master'
    tags: [ 'v*' ]
  pull_request:
    branches:
      - 'master'

defaults:
  run:
    shell: bash

jobs:
  check:
    name: 'Check'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
      - name: 'Setup Python'
        uses: actions/setup-python@v6
        with:
          python-version: '{{ max_version_of['python'].split('.')[:2] | join('.') }}'
      - name: 'Install pre-commit'
        run: python -m pip install -U pre-commit
      - name: 'Run pre-commit'
        run: pre-commit run --all-files
      - name: 'Install Python package in editable mode'
        run: python -m pip -v install -e '.'
      - name: 'Check Python metadata'
        run: |
          PROJECT_DESCRIPTION=$(python -c "import importlib.metadata;print(importlib.metadata.metadata('${REPOSITORY_NAME//-/_}')['summary'])")
          MODULE_DOCSTRING=$(python -c "import ${REPOSITORY_NAME//-/_} as module; assert module.__doc__ is not None; print(module.__doc__)")
          if [[ $PROJECT_DESCRIPTION != "$MODULE_DOCSTRING" ]]; then
            echo "Python project description should be equal to module docstring, but found \"$PROJECT_DESCRIPTION\" != \"$MODULE_DOCSTRING\".";
            exit 1;
          fi
        env:
          REPOSITORY_NAME: ${{ '{{ github.event.repository.name }}' }}

  test:
    name: 'Test'
    runs-on: ${{ '{{ matrix.platform.os }}' }}
    strategy:
      fail-fast: false
      matrix:
        python_version: [ '{{ min_version_of['python'].split('.')[0] }}.{{ range(min_version_of['python'].split('.')[1]|int, (max_version_of['python'].split('.')[1])|int + 1) | join('\', \'' + min_version_of['python'].split('.')[0] + '.') }}' ]
        platform: [
          {
            os: 'macos-latest',
            python_architecture: 'x64'
          },
          {
            os: 'ubuntu-latest',
            python_architecture: 'x64'
          },
          {
            os: 'windows-latest',
            python_architecture: 'x64'
          },
          {
            os: 'windows-latest',
            python_architecture: 'x86'
          },
        ]
{% if min_version_of['python'].split('.')[1]|int < 11 %}        exclude:
{% for minor in range(min_version_of['python'].split('.')[1] | int, [11, (max_version_of['python'].split('.')[1]) | int + 1] | min) %}
          - python_version: '{{ min_version_of['python'].split('.')[0] }}.{{ minor }}'
            platform: { os: 'macos-latest', python_architecture: 'x64' }
{% endfor %}{% endif %}
        include:
{% for minor in range(min_version_of['pypy'].split('.')[1] | int, (max_version_of['pypy'].split('.')[1]) | int + 1) %}
          - python_version: 'pypy-{{ min_version_of['pypy'].split('.')[0] }}.{{ minor }}'
            platform: { os: 'macos-latest', python_architecture: 'x64' }
          - python_version: 'pypy-{{ min_version_of['pypy'].split('.')[0] }}.{{ minor }}'
            platform: { os: 'ubuntu-latest', python_architecture: 'x64' }
          - python_version: 'pypy-{{ min_version_of['pypy'].split('.')[0] }}.{{ minor }}'
            platform: { os: 'windows-latest', python_architecture: 'x64' }
{% endfor %}
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
      - name: 'Setup Python'
        uses: actions/setup-python@v6
        with:
          python-version: ${{ '{{ matrix.python_version }}' }}
          architecture: ${{ '{{ matrix.platform.python_architecture }}' }}
      - name: 'Install in editable mode'
        run: python -m pip -v install -e '.[tests]'
      - name: 'Install coverage dependencies'
        run: python -m pip install -U coverage[toml]
      - name: 'Run doctests'
        run: >
          coverage run -m doctest README.md
          && coverage run --append -m pytest --doctest-modules --ignore=tests
      - name: 'Run tests'
        run: coverage run --append -m pytest
      - name: 'Collect coverage'
        run: coverage xml
      - name: 'Upload coverage'
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false
        continue-on-error: true

  pre-deploy:
    name: 'Pre-deploy'
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && github.ref_type == 'tag'
    steps:
      - name: '_'
        run: echo "Pre-deploy step"

  build:
    name: 'Build'
    runs-on: ubuntu-latest
    needs: pre-deploy
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
      - name: 'Setup Python'
        uses: actions/setup-python@v6
      - name: 'Install packaging tools'
        run: python -m pip install -U build pip setuptools wheel
      - name: 'Build'
        run: python -m build --sdist --wheel
      - name: 'Upload'
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist

  test-distributions:
    name: 'Test distributions'
    runs-on: ${{ '{{ matrix.platform.os }}' }}
    needs: build
    strategy:
      matrix:
        python_version: [ '{{ min_version_of['python'].split('.')[0] }}.{{ range(min_version_of['python'].split('.')[1]|int, (max_version_of['python'].split('.')[1])|int + 1) | join('\', \'' + min_version_of['python'].split('.')[0] + '.') }}' ]
        platform: [
          {
            os: 'macos-latest',
            python_architecture: 'x64'
          },
          {
            os: 'ubuntu-latest',
            python_architecture: 'x64'
          },
          {
            os: 'windows-latest',
            python_architecture: 'x64'
          },
          {
            os: 'windows-latest',
            python_architecture: 'x86'
          },
        ]
{% if min_version_of['python'].split('.')[1]|int < 11 %}        exclude:
{% for minor in range(min_version_of['python'].split('.')[1] | int, [11, (max_version_of['python'].split('.')[1]) | int + 1] | min) %}
          - python_version: '{{ min_version_of['python'].split('.')[0] }}.{{ minor }}'
            platform: { os: 'macos-latest', python_architecture: 'x64' }
{% endfor %}{% endif %}
        include:
{% for minor in range(min_version_of['pypy'].split('.')[1] | int, (max_version_of['pypy'].split('.')[1]) | int + 1) %}
          - python_version: 'pypy-{{ min_version_of['pypy'].split('.')[0] }}.{{ minor }}'
            platform: { os: 'macos-latest', python_architecture: 'x64' }
          - python_version: 'pypy-{{ min_version_of['pypy'].split('.')[0] }}.{{ minor }}'
            platform: { os: 'ubuntu-latest', python_architecture: 'x64' }
          - python_version: 'pypy-{{ min_version_of['pypy'].split('.')[0] }}.{{ minor }}'
            platform: { os: 'windows-latest', python_architecture: 'x64' }
{% endfor %}
    steps:
      - name: 'Setup Python'
        uses: actions/setup-python@v6
        with:
          python-version: ${{ '{{ matrix.python_version }}' }}
          architecture: ${{ '{{ matrix.platform.python_architecture }}' }}
      - name: 'Download distributions'
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist
      - name: 'Install from distributions'
        run: >
          python -m pip install --find-links=dist --no-deps
          "${REPOSITORY_NAME//-/_}"
        env:
          REPOSITORY_NAME: ${{ '{{ github.event.repository.name }}' }}

  deploy:
    name: 'Deploy to PyPI'
    environment: release
    needs: test-distributions
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: 'Download distributions'
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist
      - name: 'Upload to Test PyPI'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
          password: ${{ '{{ secrets.TEST_PYPI_API_TOKEN }}' }}
          repository-url: https://test.pypi.org/legacy/
          skip-existing: ${{ '{{ github.actor == \'dependabot[bot]\' }}' }}
        continue-on-error: true
      - name: 'Upload to PyPI'
        if: github.actor != 'dependabot[bot]'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
          password: ${{ '{{ secrets.PYPI_API_TOKEN }}' }}
